In [2]:
import pandas as pd
import numpy as np

In [3]:
import seaborn as sns

In [4]:
import matplotlib.pyplot as plt

In [5]:
import xgboost as xgb

In [6]:
from sklearn import metrics

In [7]:
df = pd.read_csv('NFLdataset1.csv')

In [8]:
print(len(df))

4628

In [9]:
print(df.head())

   Unnamed: 0        date      away     home  first_downs_away  \
0           0  2002-09-05     49ers   Giants                13
1           1  2002-09-08      Jets    Bills                18
2           2  2002-09-08   Vikings    Bears                19
3           3  2002-09-08  Chargers  Bengals                27
4           4  2002-09-08    Chiefs   Browns                24

   first_downs_home third_downs_away third_downs_home fourth_downs_away  \
0                21             4-12             9-16               0-0
1                26              2-8             7-17               0-0
2                20             5-13             7-13               0-0
3                13             6-10             4-11               0-0
4                24             5-11             4-11               0-0

  fourth_downs_home  ...  Home_attempts  away_attempts_completed  \
0               0-1  ...             45                       16
1               2-2  ...             39                       24
2               0-0  ...             33                       16
3               0-0  ...             31                       15
4               0-0  ...             40                       20

   away_attempts  YPPA_away  YPPA_home  Average_Yards_Per_Rush_Attempt_Home  \
0             26        6.4        7.1                                  2.0
1             30        6.4        6.2                                  4.4
2             28        8.1        8.7                                  3.1
3             19        8.4        5.4                                  2.8
4             29        9.5        8.8                                  3.0

  Average_Yards_Per_Rush_Attempt_Away Pts_Per_Drive_home Pts_Per_Drive_away  \
0                                 4.5               0.87               1.23
1                                 5.2               1.72               2.18
2                                 4.2               1.59               1.35
3                                 5.4               0.40               3.09
4                                 6.5               2.29               2.00

  Home_Result
0        Loss
1        Loss
2         Win
3        Loss
4        Loss

[5 rows x 51 columns]

In [10]:
import datetime

In [11]:
from sklearn import preprocessing, svm, linear_model

In [12]:
from sklearn.model_selection import cross_validate

In [13]:
import matplotlib.pyplot as plt

In [14]:
from sklearn.model_selection import learning_curve, GridSearchCV

In [15]:
from sklearn.feature_selection import RFE, RFECV

In [16]:
import pickle

In [17]:
import os

In [18]:
os.system('clear')

0

In [19]:
df.head()

,Unnamed: 0,date,away,home,first_downs_away,first_downs_home,third_downs_away,third_downs_home,fourth_downs_away,fourth_downs_home,...,Home_attempts,away_attempts_completed,away_attempts,YPPA_away,YPPA_home,Average_Yards_Per_Rush_Attempt_Home,Average_Yards_Per_Rush_Attempt_Away,Pts_Per_Drive_home,Pts_Per_Drive_away,Home_Result
0,0,2002-09-05,49ers,Giants,13,21,4-12,9-16,0-0,0-1,...,45,16,26,6.4,7.1,2.0,4.5,0.87,1.23,Loss
1,1,2002-09-08,Jets,Bills,18,26,2-8,7-17,0-0,2-2,...,39,24,30,6.4,6.2,4.4,5.2,1.72,2.18,Loss
2,2,2002-09-08,Vikings,Bears,19,20,5-13,7-13,0-0,0-0,...,33,16,28,8.1,8.7,3.1,4.2,1.59,1.35,Win
3,3,2002-09-08,Chargers,Bengals,27,13,6-10,4-11,0-0,0-0,...,31,15,19,8.4,5.4,2.8,5.4,0.40,3.09,Loss
4,4,2002-09-08,Chiefs,Browns,24,24,5-11,4-11,0-0,0-0,...,40,20,29,9.5,8.8,3.0,6.5,2.29,2.00,Loss

In [20]:
def plot_learning_curve(estimator, title, X, y, ylim=None, cv=None, n_jobs=1, train_sizes=np.linspace(.1, 1.0, 5)):
    plt.figure()
    plt.title(title)
    if ylim is not None:
        plt.ylim(*ylim)
    plt.xlabel("Training examples")
    plt.ylabel("Score")
    train_sizes, train_scores, test_scores = learning_curve(
        estimator, X, y, cv=cv, n_jobs=n_jobs, train_sizes=train_sizes)
    train_scores_mean = np.mean(train_scores, axis=1)
    train_scores_std = np.std(train_scores, axis=1)
    test_scores_mean = np.mean(test_scores, axis=1)
    test_scores_std = np.std(test_scores, axis=1)
    plt.grid()

    plt.fill_between(train_sizes, train_scores_mean - train_scores_std,
                     train_scores_mean + train_scores_std, alpha=0.1,
                     color="r")
    plt.fill_between(train_sizes, test_scores_mean - test_scores_std,
                     test_scores_mean + test_scores_std, alpha=0.1, color="g")
    plt.plot(train_sizes, train_scores_mean, 'o-', color="r",
             label="Training score")
    plt.plot(train_sizes, test_scores_mean, 'o-', color="g",
             label="Cross-validation score")

    plt.legend(loc="best")
    return plt

In [21]:
def print_full(x):
    pd.set_option('display.max_rows', len(x))
    print(x)
    pd.reset_option('display.max_rows')

In [22]:
def spread_conversion(x):
    """
    http://www.bettingtalk.com/win-probability-percentage-point-spread-nfl-nba/
    """

    home_dog = False
    if x < 0.5:
        x = 1.0 - x
        home_dog = True

    if x < .513:
        return_val = -0.5
    elif x < .525:
        return_val = -1
    elif x < .535:
        return_val = -1.5
    elif x < .545:
        return_val = -2
    elif x < .594:
        return_val = -2.5
    elif x < .643:
        return_val = -3
    elif x < .658:
        return_val = -3.5
    elif x < .673:
        return_val = -4
    elif x < .681:
        return_val = -4.5
    elif x < .69:
        return_val = -5
    elif x < .707:
        return_val = -5.5
    elif x < .724:
        return_val = -6
    elif x < .752:
        return_val = -6.5
    elif x < .781:
        return_val = -7
    elif x < .791:
        return_val = -7.5
    elif x < .802:
        return_val = -8
    elif x < .807:
        return_val = -8.5
    elif x < .811:
        return_val = -9
    elif x < .836:
        return_val = -9.5
    elif x < .86:
        return_val = -10
    elif x < .871:
        return_val = -10.5
    elif x < .882:
        return_val = -11
    elif x < .885:
        return_val = -11.5
    elif x < .887:
        return_val = -12
    elif x < .893:
        return_val = -12.5
    elif x < .9:
        return_val = -13
    elif x < .924:
        return_val = -13.5
    elif x < .949:
        return_val = -14
    elif x < .956:
        return_val = -14.5
    elif x < .963:
        return_val = -15
    elif x < .981:
        return_val = -15.5
    elif x < .998:
        return_val = -16
    else:
        return_val = -16.5

    if home_dog == True:
        return float(-return_val)
    else:
        return float(return_val)

C_vec = [0.0001, 0.0003, 0.0006, 0.001, 0.003, 0.006, 0.01, 0.03, 0.06, 0.1, 0.3, 0.6, 1.0, 3.0, 6.0, 10.0]
prob_val = 0
C_val = 0

In [23]:
df = pd.read_csv('NFLdataset1.csv')

In [24]:
scaling_cutoff_date = datetime.date(2018, 8, 1)
cutoff_date = datetime.date(2019, 8, 1)

In [25]:
df['game_date'] = pd.to_datetime(df['date'],format='%Y-%m-%d')

In [26]:
predicting_set = df[df.game_date >= cutoff_date].set_index('game_date')
predicting_set = predicting_set.sort_index()    # Sort ascending by index
predicting_set['week'] = np.nan

/home/johnd/.local/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: Comparing Series of datetimes with 'datetime.date'.  Currently, the
'datetime.date' is coerced to a datetime. In the future pandas will
not coerce, and a TypeError will be raised. To retain the current
behavior, convert the 'datetime.date' to a datetime with
'pd.Timestamp'.
  """Entry point for launching an IPython kernel.

In [27]:
start_date = predicting_set.index.min().date()  # Find the first game date
end_date = predicting_set.index.max().date()    # Find the last game date
date_val = start_date                           # date_val is the value used to cycle through the datetime objects
week_val = 1                                    # week_val is the iterating value that tracks the "current" week
week_dict={}                                    # Create an empty dictionary
# Cycle through the number of days
for _ in range((end_date - start_date).days+1):
    if date_val.weekday() == 1:                 # Check if the weekday value is a Tuesday
        week_val += 1                           # Increment since I'm considering Tuesday to start a new week
    week_dict[date_val] = week_val              # Update the dictionary value for the "current" date
    date_val += datetime.timedelta(days=1)      # Increment date_val by one day
# week_dict[datetime.date(2016,2,7)] = 21         # This is manually done since there are two weeks between conf championships and the final game

In [28]:
predicting_set['week'].update(pd.Series(week_dict))

In [29]:
del week_dict, start_date, end_date, date_val, week_val

In [30]:
df.head()

,Unnamed: 0,date,away,home,first_downs_away,first_downs_home,third_downs_away,third_downs_home,fourth_downs_away,fourth_downs_home,...,away_attempts_completed,away_attempts,YPPA_away,YPPA_home,Average_Yards_Per_Rush_Attempt_Home,Average_Yards_Per_Rush_Attempt_Away,Pts_Per_Drive_home,Pts_Per_Drive_away,Home_Result,game_date
0,0,2002-09-05,49ers,Giants,13,21,4-12,9-16,0-0,0-1,...,16,26,6.4,7.1,2.0,4.5,0.87,1.23,Loss,2002-09-05
1,1,2002-09-08,Jets,Bills,18,26,2-8,7-17,0-0,2-2,...,24,30,6.4,6.2,4.4,5.2,1.72,2.18,Loss,2002-09-08
2,2,2002-09-08,Vikings,Bears,19,20,5-13,7-13,0-0,0-0,...,16,28,8.1,8.7,3.1,4.2,1.59,1.35,Win,2002-09-08
3,3,2002-09-08,Chargers,Bengals,27,13,6-10,4-11,0-0,0-0,...,15,19,8.4,5.4,2.8,5.4,0.40,3.09,Loss,2002-09-08
4,4,2002-09-08,Chiefs,Browns,24,24,5-11,4-11,0-0,0-0,...,20,29,9.5,8.8,3.0,6.5,2.29,2.00,Loss,2002-09-08

In [31]:
df.columns()

TypeError: 'Index' object is not callable

In [ ]:
home_columns = {'home', 'first_downs_home', 'third_downs_home', 'fourth_downs_home', 'passing_yards_home', 'rushing_yards_home', 'total_yards_home', 'sacks_home', 'fumbles_home', 'int_home', 'turnovers_home', 'penalties_home', 'redzone_home', 'drives_home', 'def_st_td_home', 'home_poss', 'score_home', 'YPPA_home', 'rush_home', 'drive_points_home'}

In [ ]:
away_columns = {'away', 'first_downs_away', 'third_downs_away', 'fourth_downs_away', 'passing_yards_away', 'rushing_yards_away', 'total_yards_away', 'sacks_away', 'fumbles_away', 'int_away', 'turnovers_away', 'penalties_away', 'redzone_away', 'drives_away', 'def_st_td_away', 'home_poss', 'score_away', 'YPPA_away', 'rush_away', 'drive_points_away'}

In [35]:
home_cols = {'week': 'week', 'home':'team', 'first_downs_home':'first_downs', 'third_downs_home':'third_downs', 'fourth_downs_home':'fourth_down', 'passing_yards_home':'passing_yards', 'rushing_yards_home':'rushing_yards', 'total_yards_home':'total_yards', 'sacks_home':'sacks', 'fumbles_home':'fumbles', 'int_home':'int', 'turnovers_home':'turnovers', 'penalties_home':'penalties', 'redzone_home':'redzone', 'drives_home':'drives', 'def_st_td_home':'def_st_td', 'home_poss':'poss', 'score_home':'score', 'YPPA_home':'YPPA', 'rush_home':'rush', 'drive_points_home':'drive_points'}

In [36]:
away_cols = {'week': 'week', 'away':'team', 'first_downs_away':'first_downs', 'third_downs_away':'third_downs', 'fourth_downs_away':'fourth_down', 'passing_yards_away':'passing_yards', 'rushing_yards_away':'rushing_yards', 'total_yards_away':'total_yards', 'sacks_away':'sacks', 'fumbles_away':'fumbles', 'int_away':'int', 'turnovers_away':'turnovers', 'penalties_away':'penalties', 'redzone_away':'redzone', 'drives_away':'drives', 'def_st_td_away':'def_st_td', 'away_poss':'poss', 'score_away':'score', 'YPPA_away':'YPPA', 'rush_away':'rush', 'drive_points_away':'drive_points'}

KeyError: "['home_poss' 'rush_home' 'drive_points_home'] not found in axis"